@import 'variables' , 'mixins' , 'reset';

header{
    position: fixed;
    width: 100%;
    height: 200px;
    // background-color: goldenrod;
    z-index: 2;
    @include flexible( row , nowrap , space-between , flex-start  , auto );
    h1{
        a{
            img{
                width: 80px;
            }
        }
    }
    nav{
        width: 350px;
        // background-color: lightcoral;
        background-color: white;
        
        border-radius: 5px;
        margin: 10px 10px 0 0;
        ul{
            @include flexible( row , nowrap , space-between , center  , auto );
            li{
                border-right: 1px solid lightgrey;
                padding: 13px;
                a{
                    color: black;
                    font-size: 1.1em;
                    
                }
            }
        }
    }
}
input[type="file"]{
    display: none;
}

    video{
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }
    // width: 100%;
    // background-color: lightgray;
    .formulario{
        position: fixed;
        width: 280px;
        background-color: white;
        height: 410px;
        margin-left: 80px;
        top: calc(50% - 205px);
        border-radius: 10px;
        label{
            display: flex;
            width: 100%;
            height: 160px;
            // background-color: coral;
            justify-content: center;
            align-items: center;
            div{
                i{
                    background: #409fff;
                    @include flexible( row , nowrap , center , center , auto);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    color: white;
                }
            }
            p{
                color: black;
                span{
                    border-bottom: 1px solid black;
                    font-size: 0.8em;
                }
            }
            
        }
        input[type="email"]{
            // background-color: aquamarine;
            padding: 10px;
            font-size: 0.9em;
            width:100%;
            border-top: 1px solid lightgrey;
        }
        textarea{
            font-size:0.9em;
            padding: 10px;
            // background-color: antiquewhite;
            width:100%;
            height: 87px;
            resize:none;
            border-bottom: 1px solid lightgrey;
            border-top: 1px solid lightgrey;
        }
        input[type="submit"]{
            width: 160px;
            height: 40px;
            background-color: grey;
            border-radius: 20px;
            color: white;
            margin: 20px 63px;
            
        }
    }


























// w280 h410 l80 topcalc 50%-205 borderradius10px
// label row w50px h50px borderradius50% text-aligncenter colorwhite
// spanfont.8em borderbottom1pxsolidblack
// label h160px
// input[type="file"] displaynone